.post-list {
  min-height: 500px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: all 0.3s ease-in-out;

  &:hover {
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5);
  }
}

.link-text {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1rem;
  flex: 1;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.post-id {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background-color: #cfcfcf;
  width: 90%;
  aspect-ratio: 1;
  border-radius: 10px;
}

.post-info {
  display: flex;
  gap: 1rem;
}

.profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #cfcfcf;
  display: flex;
  justify-content: center;
  align-items: center;
}
